* {
    margin: 0;
    box-sizing: border-box;
}

main li {
    width: 40vw;
}

#page-wrapper {
    text-align: center;
    background-color: #fbf7f5;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
}

header {
    background-color: #DB995A;
    padding: 1% 4%;
    text-align: left;
}

header h1 {
    font: calc(35px + 1vw) Butcherman, "Times New Roman", serif;
    padding-top: 6vh;
    line-height: 5%;
}

header p {
    font-size: calc(9px + 0.5vw);
    padding-bottom: 2vh;
}

nav ul {
    background-color: black;
    padding-top: 10%;
    padding-bottom: 20%;
}

nav {
    width: 30%;
    text-align: left;
}

nav li {
    list-style-type: none;
    padding: 7% 2%;
}

nav li a {
    text-decoration: none;
    color: darkorange;
    padding: 1% 2%;
    font-size: calc(5px + 1vw);
}

nav li a:hover {
    color: black;
    background-color: darkorange;
}

main {
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

h2 {
    color: #DB995A;
    padding-bottom: 1%;
    font-size: calc(18px + 1vh);
}

main ul {
    font-size: calc(9px + 1vh);
    text-align: left;
    padding: 0 30vw;
}

main li {
    padding-bottom: 1%;
}

footer {
    background-color: #DB995A;
    color: black;
    padding: 10vh 0;
}

footer a {
    color: white;
}

#otter {
    width: 40%;
    max-width: 100%;
}

#momo {
    width: 60%;
    display: none;
}

@media screen and (max-width: 1000px) {

    header {
        text-align: center;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    nav ul {
        padding-top: 1%;
        padding-bottom: 1.4%;
        padding-left: 0;
    }

    nav li {
        display: inline;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2% 5%;
    }

    main p {
        padding: 0;
    }

    img {
        margin: auto;
    }

    footer {
        margin-top: 25vh;
    }

    #otter {
        display: none;
        /*
        margin-left: 30%;
        */
    }

    #momo {
        display: block;
        /*
        margin-left: 20%;
        */
    }

}

@media screen and (max-width: 900px) {

    #otter {
        display: block;
    }

    #momo {
        display: none;
    }
}